//Colors
$theme_color_blue: #3577f0;

$color_white:#fff;
$color_ash:#f6f7fb;

$color_pink:#ff497c;
$color_purple:#8c71db;
$color_orange:#ff8666;

$color_heading:#292930;
$color_body:#777777;
$color_border:#f1f1f1;
$color_offwhite:#f9f3f0;
$color_line-through:#d6d6d6;

//Font weight
$regular: 400;
$medium: 500;
$bold: 700;

// Box-Shadow
$shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);


